<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/city/map/" enctype="multipart/form-data" class="map-marker-popup" id="add-place">
                    {% csrf_token %}

                    <input class="map-city-search-input" type="text" id="id_name" name="name" required placeholder="name"/>


                    <input class="map-city-search-input"  type="number" id="id_city" name="city" required placeholder="city"/>


                    <input class="map-city-search-input" type="number" id="id_price" name="price" required placeholder="price"/>


                    <textarea class="map-city-search-input" id="id_description" name="description" placeholder="description"></textarea>



                    <div class="custom-file-upload">
                        <label class="file-name" for="id_photo">Upload Photo</label>
                        <input  type="file" id="id_photo" name="photo" accept="image/*"/>

                    </div>

                    <input type="hidden" name="latitude" value="${lat}" />
                    <input type="hidden" name="longitude" value="${lng}" />

                    <button type="submit" class="save-place-button">Save Place</button>
                </form>

        <script type="text/javascript">
            $(document).on("submit", "#add-place", function(e) {
                e.preventDefault();
                $.ajax({
                    type:"POST",
                    url:"/city/map/",
                    data: {
                        city:$("#city").val(),
                        csfrmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
                     },
                    success:function(){
                        alert("Saved");
                    }
                })
            });
        </script>

</body>
</html>